body {
  background-color: #ecf5ff;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

/* Application init styles */

.application {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.application .container {
  height: 100%;
  width: 100%;
  /* max-width: calc(80vw); */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Main Menu Styles */

.main-menu {
  position: relative;
  height: auto;
  width: 100%;
}

.main-menu .container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.main-menu .button {
  display: inline-block;
  color: #ecf5ff;
}

.button.btn-info:hover {
  color: darkblue;
}

.button.btn-info.active {
  background-color: rgb(25 137 189);
  border-color: #0346918a;
}

#results {
  width: 100%;
}

/* Author Quiz Styles */

.author-quiz {
  margin-top: 2rem;
  width: 100%;
}
.author-quiz .container:nth-child(2) {
  /* background-color: darkgray; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.author-quiz__picture {
  margin-top: 1rem;
  margin: 0 1rem;
}

.author-quiz__picture {
  height: 50vh;
  max-height: 600px;
  background-image: url('../src/images/img/1.jpg');
  /* background-position: 100%; */
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% 100%; */
  border-radius: 15px;
  box-shadow: 2px 2px 15px #000;
  width: 100%;
}

.answers {
  width: 100%;
  margin-top: 1rem;
}

.answers.wraper {
  /* background-color: darkgrey; */
  height: 5rem;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

.answers li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  /* background-color: inherit; */
}

.answers li div {
}
.answers li:hover {
  background-color: #0dcaf0;
}

/* .answers li.correct {
  background-color: lightgreen;
}
.answers li.notcorrect {
  background-color: lightcoral;
} */

.notcorrect {
  background-color: lightcoral;
}

.correct {
  background-color: lightgreen;
}

.correct.outline {
  border: 5px solid lightgreen;
}

.notcorrect.outline {
  border: 5px solid lightcoral;
}

.scale {
  transform: scale(1.2);
  z-index: 10;
  border-color: royalblue;
}

/* Navbar styles */
.main-nav {
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
}

.main-nav .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-menu .badge:nth-child(2) {
  margin-right: 5px;
}

.dropdown-menu > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* 
main nav source
https://getbootstrap.com/docs/5.0/components/navs-tabs/

*/

/* Picture quiz styles */

.picture-quiz {
  margin-top: 2rem;
  width: 100%;
}
.picture-quiz .container:nth-child(2) {
  /* background-color: darkgray; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.picture-quiz__picture {
  margin-top: 1rem;
  margin: 0 1rem;
}

.picture-quiz__picture {
  height: 60vh;
  max-height: 600px;
  /* border-radius: 15px; */
  width: 100%;
}

.picture-quiz__picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.picture-quiz__picture__item {
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #000;
}

/* Modal Quiz Styles */

#quiz-modal .modal-body {
  padding: 5px;
}

#quiz-modal .modal-body__answer-image {
  height: 50vh;
  max-height: 600px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 100%;
}

#quiz-modal .modal-footer {
  display: flex;
  justify-content: space-between;
}

/* Category Cards Styles */

.author-quiz-cat.container {
  width: 100%;
  height: 80%;
  margin: 1rem 0;
}

.author-quiz-cat.card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

.card-group .card {
  box-shadow: 2px 2px 15px #000;
  border: none;
}

.author-quiz-cat .card-title {
  text-align: center;
}

.card-text {
  display: flex;
  justify-content: center;
}
